{% extends 'base.html' %}
{% block content %}

<h1>Theme Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ theme.name }}</span>
        <p>Keywords: {{ theme.keywords }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'theme_update' theme.id %}">Edit</a>
        <a href="{% url 'theme_delete' theme.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}