{% extends 'base.html' %}
{% block content %}

<h1>Art Details</h1>


<div class="card">
    <div class="card-content">
        <span class="card-title">{{ art.title }}</span>
        <p>Artist: {{ art.artist }}</p>
        <p>Description: {{ art.description }}</p>
        <p>Media: {{ art.media }}</p>
        <p>Created: {{ art.created }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'art_update' art.id %}">Edit</a> 
        <a href="{% url 'art_delete' art.id %}">Delete</a>
    </div>
</div>

    
{% endblock %}